#starter{
    padding: 10%;
    position: relative;
}
/*for the title*/
#etch{
    position:absolute;
    left:45%;
    bottom:90%;
    font-size: 150%;
}
/*forthe write up*/
#move{
    position: absolute;
    left: 38%;
    bottom: 85%;
    font-style: italic;
    font-size: 150%;
    color:blue;
}
/*for buttons form, black, random, reset*/
#form{
    position: absolute;
    left:27%;
    top:30%;
    font-size: 100%;
    width:100px;
    height:30px;
}

#black{
    position:absolute;
    left:27%;
    top:35%;
    font-size: 100%;
    width:100px;
    height:30px;
}

#random{
    position:absolute;
    left:27%;
    top:40%;
    font-size: 100%;
    width:100px;
    height:30px;
}

#reset{
    position:absolute;
    left:27%;
    top:45%;
    font-size: 100%;
    width: 100px;
    height: 30px;
}

#parent{
    margin-left: 30%;
    display: grid;
    border:2px solid black;
    width:700px;
    height:700px;
}

#child1{
    aspect-ratio: 1/1;
    border:1px solid gray;
    /*width:0.4dvh;
    height:0.4dvh;*/
    background-color: white;
}
